
<h2> Employee List</h2>

<form (ngSubmit)="search()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName">
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName">
    
    <button type="submit">Search</button>
  </form>


<table class="table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Phone No</th>
            <th> Salary</th>
            <th> Address</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.phone }} </td>
            <td> {{ employee.salary }} </td>
            <td> {{ employee.address }} </td>
            <td>
                <button (click) = "updateEmployee(employee.empId)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteEmployee(employee.empId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
               
                
            </td>


        </tr>
    </tbody>

</table>
